/* Colors used
rgb(102,183,74)     green
rgb(43,82,164)      blue
rgb(250,108,126)    red
rgb(244,248,250)    light blue
rgb(230,230,230)    grey
*/


/* Smooth out text */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font type */
body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  background-color: rgb(244,248,250);
}

/* Reduce default padding from 15px */
.navbar-brand { padding: .1em .15em .1em .6em; }

/* Fit logo to div navbar-header */
#logo { height: 100%; }

/* Remove default margin and rounded corners in Bootstrap navbar */
.navbar {
  background: rgb(230,230,230);
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  border-bottom: .1em solid rgb(221,221,221);
}

/* Color links dark blue */
a { color: rgb(43,82,164); }

/* Links stay dark blue when hovered over or clicked */
a:hover, a:focus, a:active {
  color: rgb(250,108,126);
  text-decoration: none;
}

/* Blue links in navbar, brighter when hovered over, red when active */
#link-color a { color: rgb(43,82,164); }
#link-color a:hover, #link-color a:focus, #link-color a:active {
    color: rgba(43,82,164,0.7);
}
.active-link { color: rgb(250,108,126) !important; }

/* Notebook tags */
.tags a { color: rgb(128,166,205); }
.tags a:hover { color: rgb(250,108,126); }

/* Removing default border around Bootstrap's navbar button */
.navbar-default .navbar-toggle {
    border-radius: 0;
    border: 0;
    background: none;
    text-rendering: auto;
}

/* Color of navbar hamburger button */
.navbar-default .navbar-toggle .icon-bar { background: rgb(250,108,126); }

/* No background for hamburger button */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active { background: none; }

/* Top border of navbar when collapsed */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-top: 1px solid rgb(221,221,221);
}

/* Custom horizontal rule, */
.hr-custom {
    opacity: 0.1;
    border-top: .1em solid rgb(0,0,0);
    border-bottom: .1em solid rgb(221,221,221);
}

/* Create space between horizontal rule and footer content.
Centered when window size less than 914px (see bottom @media) */
#footer { margin-top: 1em; }

/* Smaller font size in footer than rest of content */
#footer p { font-size: 0.9em; }

/* Size, position and opacity of logo in footer */
.ntnu-logo {
    width: 2em;
    margin: auto;
    padding: 5% 0 5% 0;
}

/* Color of social icons in footer */
#social-icons a { color: rgb(51,51,51); }
#social-icons a:hover, #social-icons a:focus { color: rgb(250,108,126); }

/* Position and font size of introduction on the home page.
Max-width changed when window size less than 914px (see bottom @media) */
#index-page {
    max-width: 70%;
    min-height: auto;
    padding: 5% 5% 4% 5%;
    text-align: center;
    font-size: 2.25em;
}

/* Notebook list header */
.header { margin-bottom: 10px; }

/* Need some space before footer */
#index-content { padding-bottom: 5px; }

#same-line { display: inline-block; }

/* Make link in alerts more visible */
.alert-info a:hover, .alert-info a:focus, .alert-info a:active {
    border-bottom: .1em solid;
    text-decoration: none;
}

.btn {
  color: rgb(102,183,74);
  padding: 14px 24px;
  border-color: rgb(102,183,74);
  border-width: 2px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
  background-color: rgb(102,183,74);
  border-color: rgb(102,183,74);
}

.btn-primary { background-color: rgb(244,248,250); }

.btn-primary:focus, .btn-primary:hover {
  border-color: rgb(102,183,74);
  background-color: rgb(102,183,74);
  color: rgb(244,248,250);
}

#button-span { width: 100%; }

/* Code block in Markdown */
pre {
  margin: 1em 0 1em 0;
  padding: 1em;
  font-family: 'Inconsolata', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border-radius: .1em;
  border: 0;
  background: rgb(236,240,242);
}

/* Panels in notebook lists */
.panel-default { border: 1px solid rgb(198,205,211); }

.panel-heading {
  padding: 3px 10px 3px 10px;
  font-size: 3em;
}

.panel-default > .panel-heading {
  background-color: rgb(230,230,230);
  border-color: rgb(198,205,211);
}

.panel-body {
  padding: 0 10px 0 10px;
  background-color: rgb(237,240,242);
}

.panel-body .hr-custom { margin: 0 -10px 0 -10px; }
.panel-body p { margin-bottom: 3px; }

/* Search field */
#search-field {
  margin: 0 0 0 15px;
  padding: 11px 15px 11px 0;
  width: 360px;
}

#form-fix {
  border-radius: 3px;
  height: 28px;
  background-color: rgb(244,248,250);
}

@media (max-width: 991px) {
  .ntnu-logo { padding: 1% 0 2% 0; }
  #index-page { max-width: none; }

}

@media (max-width: 768px) {
  #align-center { text-align: center; }
  #search-field { width: 96%; }
  /* Don't display Jupyter Installation alert on mobile */
  #no { display: none; }
}

@media (max-width: 380px) {
  #no2 { display: none; }
}
